header {
    display: flex;
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;
    background-color: black;
    z-index: 1;
    position:fixed;
    width: 100%;

}

.kasai {
    background-color: black;
    font-size: 30px;
    padding: 10px;
    opacity: 50%;
    color: pink;
}

nav {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;
    background-color: black;
    width: 50%;
}

nav a {
    flex: 1 0 auto;
    color: pink;
    justify-content: space-evenly;
    opacity: 50%;
    padding: 12px 20px;
}

.profilepic img{
    height: auto;
    position: absolute;
    bottom: 10%;
    border-radius: 50%;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

.nav-list a:hover {
    background-color: pink;
    opacity: 75%;
    padding: 10px;

}

.subtitle {
    color: white;
    font-size: 50px;
    padding: 20px;
    background: black;
    opacity: 57%;
    border-radius: 10px;

}

.hero {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url("images/mountainslake.jpg");
    height: 400px;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    flex: 30%;
    background-color: #b9c6ae;
    padding: 20px;
    flex-wrap: wrap;
}


h3 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
    background: pink;
    opacity: 40%;
    color: black;
}

.card img {
    width: 100px;
    min-width: 300px;
}

.bottomlinks {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
}