header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
    width: 100%;
}

.kasai {
    background-color: black;
    font-size: 30px;
    padding: 10px;
    opacity: 50%;
    color: pink;
}

nav {
    padding: 5px;
    margin: 5px;
    

}

nav a {
    color: pink;
    opacity: 50%;
    padding: 12px 20px;
}

.profilepic {
    height:auto;
    width: 200px;
    bottom: 10%;
    border-radius: 25%;
}


nav a:hover {
    background-color: pink;
    opacity: 75%;
    padding: 10px;

}

.subtitle {
    color: white;
    margin-top: 300px;
    font-size: 50px;
    padding: 20px;
    background: black;
    opacity: 57%;
    border-radius: 10px;

}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("images/mountainslake.jpg");
    height: 400px;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

section {
    display: flex;

}

.title {
    flex: 1;
    text-align: right;
}

.context {
    flex: 3;

}

.cards {
    display: flex;
    flex-wrap: wrap;

}

article:first-child {
    width: 100%;



}

article:not(:first-child) {
    flex: 1 0 300px;
}

img {
    width:100%;
    height: auto;

}

ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
}
