header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
    width: 100%;
}

.kasai {
    background-color: black;
    font-size: 30px;
    padding: 10px;
    opacity: 50%;
    color: pink;

}

nav {
    padding: 5px;
    margin: 5px;


}

nav a {
    color: pink;
    opacity: 50%;
    padding: 12px 20px;
}

.profilepic {
    height: auto;
    width: 200px;
    bottom: 10%;
    border-radius: 25%;
}


nav a:hover {
    background-color: white;
    opacity: 40%;
    padding: 5px;
    border-radius: 0px 0px 20px;

}

.subtitle {
    color: white;
    margin-top: 300px;
    font-size: 50px;
    padding: 20px;
    background: black;
    opacity: 57%;
    border-radius: 10px;

}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("images/mountainslake.jpg");
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

section {
    display: flex;


}

.title {
    flex: 1;
    text-align: right;
    border-right: 3px solid white;
}

.work-title {
    flex: 1;
    text-align: right;
    border-right: 3px solid white;
    margin-top: 100px;
}

.context {
    flex: 3;
    font-weight: 300;
    font-size: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;

}

article:first-child {
    width: 600px;
    padding: 10px 10px;
    border: black;
    border-radius: 25%;





}

article:not(:first-child) {
    flex: 1 0 400px;
    padding: 10px 5px;
}

img {

    width: 100%;
    height: auto;
    padding: 10px 10px;
    border: black;
    border-radius: 2%;


}

img:hover {
    box-shadow: 0px 0px 50px orchid;
}



article {
    position: relative;
}


article h3 {
    color: white;
    position: absolute;
    bottom: 30px;
    margin-top: 100px;
    margin-left: 25px;
    padding: 10px 5px;
    border-radius: 0px 25px 25px;
    background-color: rosybrown
}


ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;

}

ul a {
    color: pink
}

@media screen and (max-width: 1200px) {}


@media screen and (max-width: 768px) {
    width: 100%;

}


@media screen and (max-width: 425px) {
    width: 100%;
}